@charset "UTF-8";
/*================================================
 *  CSSリセット
 ================================================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  line-height: 0;
}

figure {
  font-size: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  text-decoration: none;
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: ChloeRegular;
  src: url("../fonts/Chloe-Regular.otf") format("opentype");
}
html {
  font-size: 62.5%;
}

body {
  background-color: #FCECDD;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #362222;
}

a {
  transition: opacity 0.3s linear;
}
a:hover {
  opacity: 0.7;
}

/*Header*/
.header .header__inner {
  /* Above header */
  /* Nav menu */
}
.header .header__inner .above-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__inner .above-header .-contact {
  width: 165px;
  display: flex;
  justify-content: space-between;
}
.header .header__inner .above-header .-contact span {
  font-weight: 600;
  font-size: 1.5rem;
  width: 165px;
}
.header .header__inner .above-header .logo {
  color: #362222;
  font-size: 2.5rem;
  line-height: 0.85;
  font-weight: 800;
  font-family: "Playfair Display", serif;
}
.header .header__inner .above-header .logo span {
  font-size: 2.5rem;
  display: block;
  font-weight: bold;
}
.header .header__inner .above-header .header-action-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 165px;
}
.header .header__inner .above-header .header-action-icon a {
  display: block;
}
.header .header__inner .above-header .header-action-icon button {
  display: block;
}
.header .header__inner .above-header .header-action-icon .header-action {
  width: 30px;
  height: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.header .header__inner .above-header .header-action-icon .header-action .svg-search,
.header .header__inner .above-header .header-action-icon .header-action .svg-account {
  fill: #362222;
}
.header .header__inner .above-header .header-action-icon .header-action .svg-cart {
  fill: red;
  color: #362222;
}
.header .header__inner .above-header .header-action-icon .header-action svg {
  width: 20px;
  height: 40px;
}
.header .header__inner .above-header .header-action-icon .close-box svg {
  width: 24px;
  height: 24px;
}
.header .header__inner .above-header .header-action-icon .search-popup {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}
.header .header__inner .above-header .header-action-icon .search-popup .search-popup__inner {
  position: absolute;
  border-radius: 5px;
  background-color: #FCECDD;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.header .header__inner .above-header .header-action-icon .search-popup .search-popup__inner form {
  border-bottom: 1px solid #362222;
  position: relative;
  width: 100%;
  max-width: 300px;
}
.header .header__inner .above-header .header-action-icon .search-popup .search-popup__inner form .search-inp {
  background: transparent;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  padding: 8px 45px 8px 8px;
  border: none;
}
.header .header__inner .above-header .header-action-icon .search-popup .search-popup__inner form .search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.header .header__inner .above-header .header-action-icon .search-popup .search-popup__inner .close-box.search {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.header .header__inner .above-header .header-action-icon .search-popup .search-popup__inner .close-box.search img {
  width: 24px;
}
.header .header__inner .above-header .header-action-icon .search-popup.active {
  pointer-events: fill;
  opacity: 1;
}
.header .header__inner .nav {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 21px 0;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__inner .nav::after, .header .header__inner .nav::before {
  content: "";
  height: 1px;
  max-width: 150px;
  width: 100%;
  background: #ad8f70;
}
.header .header__inner .nav .menu {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .header__inner .nav .menu li .menu-link {
  color: #362222;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
  white-space: nowrap;
  text-align-last: center;
}
.header .header__inner .nav .menu li .menu-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #362222;
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform 0.3s;
}
.header .header__inner .nav .menu li .menu-link:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

/* Sroll and Click move */
.visual {
  padding: 36px 56px;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.visual .-scroll {
  display: flex;
  align-items: center;
  transform-origin: left;
  transform: rotate(270deg);
  width: 150px;
  position: absolute;
  bottom: 56px;
  left: 64px;
}
.visual .-scroll .-text {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin-left: 24px;
  font-weight: 600;
}
.visual .-scroll .-border {
  width: 64px;
  height: 1px;
  overflow: hidden;
}
.visual .-scroll .-border:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #362222;
  animation: 1.8s ease-in-out infinite scrollAnimation;
}
@keyframes scrollAnimation {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.visual .-move {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 54px;
  right: 56px;
}
.visual .-move span {
  color: #362222;
  font-weight: 600;
  margin-bottom: -3px;
}
.visual .-move .-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: #575757;
  border-radius: 100%;
  margin-left: 16px;
}
.visual .-move .-circle img {
  padding-left: 4px;
  width: 16px;
}

/* Slider */
.visual__slider .visual__slider-inner {
  --radius: calc(47.52vh / 2);
  width: 47.52vh;
  height: 71.22vh;
  position: relative;
  margin: 0 auto;
}
.visual__slider .visual__slider-inner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vh;
  color: #953cf5;
  opacity: 0.8;
  z-index: 1;
  white-space: nowrap;
}
.visual__slider .-slide-item {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius) var(--radius) 0 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.visual__slider .-slide-item:before {
  content: "";
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #131214;
  transform: scaleX(0);
  transform-origin: right;
}
.visual__slider .-slide-item__cover:before {
  content: "";
  transform: scaleX(1);
  transform-origin: left;
}
.visual__slider .slider-bar__inner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.visual__slider .slider-bar__inner .slider-bar {
  height: 2px;
  width: 150px;
  margin: 10px;
  background-color: #221e2360;
  position: relative;
}
.visual__slider .slider-bar__inner .slider-bar::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25%;
  background-color: #362222;
  transition: all 0.3s linear;
  left: var(--data-pos);
  top: 0;
}
.visual__slider:hover .control-slide .pre, .visual__slider:hover .control-slide .next {
  opacity: 1;
}
.visual__slider .control-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  transition: width 0.3s ease;
}
.visual__slider .control-slide .pre,
.visual__slider .control-slide .next {
  position: absolute;
  opacity: 0.5;
  border-radius: 100%;
  transition: opacity 0.4s ease-out, border 0.2s linear;
  padding: 12px;
  border: 1px #00000000 solid;
}
.visual__slider .control-slide .pre:hover,
.visual__slider .control-slide .next:hover {
  border: 1px #362222 solid;
}
.visual__slider .control-slide .pre {
  left: -10%;
}
.visual__slider .control-slide .next {
  right: -10%;
}
.visual__slider .control-slide svg {
  position: relative;
  transform: translateY(1px);
  width: 30px;
  height: 30px;
  stroke-width: 1px;
  fill: none;
  stroke: #362222;
}

/* footer */
.footer {
  --padding: 36px;
  display: flex;
  flex-direction: column;
  background: #5E454B;
  color: #fff;
}
.footer .footer-wrap {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.footer .footer-wrap .footer-title {
  padding-top: calc(var(--padding) * 2.5);
  font-size: 3rem;
  font-weight: 600;
}
.footer .footer-wrap p {
  font-size: 1.4rem;
  padding-top: var(--padding);
}
.footer .footer-wrap .subscribe-frm {
  border-bottom: 1px solid #fff;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 400px;
  margin-top: var(--padding);
}
.footer .footer-wrap .subscribe-frm #email {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 8px 45px 8px 8px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
}
.footer .footer-wrap .subscribe-frm #email::placeholder {
  color: #fff;
}
.footer .footer-wrap .subscribe-frm .btn-sb {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.footer .footer-wrap .subscribe-frm .icon-email {
  fill: none;
  stroke: #fff;
  height: 24px;
}
.footer .footer-wrap.above {
  padding-top: calc(var(--padding) * 3);
  margin: auto;
}
.footer .footer-wrap.above .social-link {
  border-radius: 50%;
  border: 1px #fff solid;
  padding: 13px;
}
.footer .footer-wrap.above .social-icons {
  display: flex;
  justify-content: space-between;
  width: 125px;
}
.footer .footer-wrap.above .social-icons .icon {
  height: 24px;
  width: 24px;
}
.footer .footer-wrap.above .site-footer__linklist {
  padding: var(--padding) 0;
  margin-bottom: calc(var(--padding) * 2);
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer .footer-wrap.above .site-footer__linklist li a {
  font-size: 1.4rem;
  color: #fff;
}

.visual-login {
  min-height: 100vh;
  width: 100%;
  padding: 36px 56px;
}
.visual-login .invalid {
  font-size: 2.5rem;
  color: red;
  border: 1px solid red;
  color: #000;
}
.visual-login .invalid .dot {
  background: red;
}
.visual-login .form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.visual-login .form-container .form-title {
  padding-top: 36px;
  font-size: 3rem;
  font-weight: 600;
}
.visual-login .form-container .login-form {
  width: 100%;
  max-width: 400px;
}
.visual-login .form-container .login-form .input-group {
  padding-top: 72px;
}
.visual-login .form-container .login-form .input-group label {
  display: block;
}
.visual-login .form-container .login-form .input-group #email,
.visual-login .form-container .login-form .input-group #pass,
.visual-login .form-container .login-form .input-group #lastname,
.visual-login .form-container .login-form .input-group #firstname {
  margin-top: 5px;
  background: transparent;
  width: 100%;
  border: none;
  padding: 8px;
  font-size: 1.6rem;
  border-bottom: 1px solid #362222;
}
.visual-login .form-container .login-form .input-group .login-btn {
  width: 100%;
  padding: 8px 0;
  border: none;
  background: #fff;
  color: #575757;
  font-size: 1.8rem;
  cursor: pointer;
}
.visual-login .form-container .create-account {
  display: block;
  padding-top: 72px;
  color: #362222;
  align-self: flex-start;
}

.intro {
  min-height: 300px;
  display: flex;
  background: #fff;
  color: #362222;
  font-style: normal;
}
.intro .slogan-box__inner {
  margin: auto;
  text-align: center;
  height: 100px;
}
.intro p {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 24px;
  color: #333029;
  font-weight: lighter;
  width: 666px;
  margin: auto;
  font-weight: 300;
  line-height: 30px;
}

.showcase {
  display: flex;
  flex-direction: column;
  padding: 72px 0;
}
.showcase .showcase-title-box {
  margin-top: 72px;
  height: 72px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.showcase .showcase-title-box .showcase-title {
  font-size: 5rem;
  font-family: ChloeRegular;
}
.showcase .showcase-title-box p {
  margin-top: auto;
}
.showcase .showcase-inner {
  padding: 56px;
  padding-top: 72px;
  display: flex;
  justify-content: flex-start;
  cursor: grab;
  overflow: auto;
}
.showcase .showcase-inner::-webkit-scrollbar {
  height: 8px;
}
.showcase .showcase-inner .product-card {
  background: #fff;
  margin-left: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 0 36px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.showcase .showcase-inner .product-card .img-link {
  display: block;
  overflow: hidden;
  opacity: 1;
}
.showcase .showcase-inner .product-card .img-link .product-img {
  transition: transform 1s;
  height: 450px;
  width: 300px;
  background: center/contain no-repeat;
}
.showcase .showcase-inner .product-card .img-link .product-img:hover {
  transform: scale(1.2);
}
.showcase .showcase-inner .product-card .card-content {
  margin-top: auto;
  text-align: center;
  flex-direction: column;
}
.showcase .showcase-inner .product-card .card-content .product-link {
  display: block;
  margin-top: 16px;
  color: #362222;
  padding: 0 12px;
}
.showcase .showcase-inner .product-card .card-content .producer {
  margin-top: 16px;
  display: block;
  color: #362222;
  font-size: 1.4rem;
}
.showcase .showcase-inner .product-card .card-content .price {
  margin-top: 16px;
}
.showcase .showcase-inner .product-card .card-content .add-cart-link {
  display: block;
  color: #fff;
  background: #575757;
  border-radius: 20px;
  padding: 10px 20px;
  width: max-content;
  margin: 16px auto;
}

.brands-list {
  background: #fff;
}
.brands-list .brands-list__inner {
  max-width: 1112px;
  margin: 36px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.brands-list .brands-list__inner .brand-box {
  width: 20%;
  display: flex;
  justify-content: center;
}
.brands-list .brands-list__inner .brand-box a img {
  height: 150px;
  object-fit: contain;
  object-position: center;
}

.video-box {
  object-fit: cover;
  object-position: center;
}
.video-box video {
  height: 100%;
  width: 100%;
}

#cart-container.active {
  transform: translate(0);
}

#cart-container {
  font-family: "Montserrat", sans-serif;
  transition: transform 0.5s ease-in;
  z-index: 999;
  --padding-cart: 40px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
  background: #f1e4e4;
  transform: translate(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cart-container #cart-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#cart-container .drawer__header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-cart);
}
#cart-container .drawer__header .drawer__close .drawer__close-button {
  cursor: pointer;
  padding: 6px;
  background: transparent;
  border: none;
}
#cart-container .drawer__header .drawer__close .drawer__close-button svg {
  height: 28px;
  width: 28px;
  stroke: #000;
}
#cart-container .cart__scrollable {
  padding: 0 var(--padding-cart) 0 var(--padding-cart);
  color: #362222;
}
#cart-container .cart__scrollable .cart-items {
  overflow-y: auto;
  height: 100%;
  max-height: calc(100vh - 431px);
}
#cart-container .cart__scrollable .cart-items .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  margin-bottom: 40px;
}
#cart-container .cart__scrollable .cart-items .cart-item .img-item {
  display: block;
  width: 115px;
  padding: 115px 115px 0 0;
  background: center/contain no-repeat;
}
#cart-container .cart__scrollable .cart-items .cart-item .item-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75px;
  padding-left: 10px;
}
#cart-container .cart__scrollable .cart-items .cart-item .item-quantity input {
  text-align: end;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px;
  font-size: 18px;
}
#cart-container .cart__scrollable .cart-items .cart-item .item-quantity .remove-btn {
  background: transparent;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  margin-top: 5px;
  color: #362222;
}
#cart-container .cart__scrollable .cart-items .cart-item .item-contents {
  text-align: justify;
  width: 100%;
  padding-left: 15px;
}
#cart-container .cart__scrollable .cart-items .cart-item .item-contents p {
  padding-top: 15px;
}
#cart-container .cart__scrollable .cart-items .cart-item .item-contents .capacity,
#cart-container .cart__scrollable .cart-items .cart-item .item-contents .price {
  text-align-last: center;
  font-size: 16px;
}
#cart-container .cart__scrollable .cart-items .cart-item .item-contents .price {
  font-weight: 500;
}
#cart-container .cart__scrollable .cart-note label {
  padding: 16px;
  display: block;
  font-size: 18px;
}
#cart-container .cart__scrollable .cart-note #note {
  width: 100%;
  background: transparent;
  border: solid 1px #362222;
  color: #362222;
  padding: 5px;
  font-size: 18px;
}
#cart-container .cart-footer {
  padding: var(--padding-cart);
  display: flex;
  flex-direction: column;
  height: 220px;
}
#cart-container .cart-footer .cart-details {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
#cart-container .cart-footer p {
  margin: 18px 0;
  color: gray;
  padding: 6px;
  background: rgba(255, 255, 255, 0.342);
}
#cart-container .cart-footer #checkout {
  width: 100%;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  color: gray;
}

.cover.active {
  display: block;
}

.cover {
  display: none;
  position: fixed;
  border: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.219);
  z-index: 998;
}

/*# sourceMappingURL=style.css.map */
